/* Define the custom colors as CSS variables */
:root {
  --txtdark: #DCF0F1;
  --cyan: #50F7CF;
  --cyangreen: #23F8C5;
  --cyanblue: #00eeff;
  --cyandark: #00eeff;
  --cyandark2: #144162;
  --cyandark3: #00719e;
}


* {
  margin: 0;
  /* cursor: default; */
}

/* Navbar.module.css */
.navbar {
  position: relative;
  z-index: 1000; 
  transition: top 0.3s;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0e37477c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.navbar.scrolled {
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 1rem;
  --tw-shadow: 0 0 10 0px rgba(0,0,0,.1);
  --tw-shadow-colored: 0 0 10 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.navHolder {
  width: 100%;
}

.brand-logo img {
  width: 40px;
  height: 40px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-link {
  margin: 0 10px;
}

.nav-link a {
  text-decoration: none;
  padding: 14px;
  display: block;
}

.nav-link a:hover {
  color: var(--cyanblue);
  transition: all 0.3s ease-in-out;
}


.nav-link a {
  cursor: pointer !important;
} 

.nav-link a {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* Adjust as needed */
}

.nav-link a.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px; /* Height of the gradient border */
  background: linear-gradient(90deg, var(--cyanblue) 1%, var(--cyandark2) 100%); /* Gradient colors */
}


.btn {
  width: 120px;
}

/* Text gradient styles */

.text-gradient {
  font-size: 2.25rem; 
  font-weight: 700;
  background: linear-gradient(to right, var(--cyanblue) 1%, var(--txtdark) 25%) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent;
}

.textGradient2 {
  font-size: 2.25rem; 
  font-weight: 700;
  background: linear-gradient(to right, var(--cyanblue) 30%, var(--txtdark) 55%) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent;
}

.bigGradient {
  font-size: 3.5rem; 
  font-weight: 700;
  background: linear-gradient(to right, var(--cyanblue) 1%, var(--cyandark2) 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bgGradient {
  background: linear-gradient(to right, var(--cyangreen) -15%, var(--cyandark2) 70%);
}

.gradientAnim {
  background: linear-gradient(to right, var(--cyangreen) -15%, var(--cyandark2) 70%);
  transition: all 0.3s ease-in-out;
}

.gradientAnim:hover {
  background: linear-gradient(to left, var(--cyandark2) -30%, var(--cyangreen) 140%);
  transition: all 0.3s ease-in-out;
}

.gallery {
  display: flex;
  flex-direction: row;
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* Three items per row */
  gap: 1rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.gallery-item img {
  width: 100%;
  height: auto; /* Adjusted to maintain aspect ratio */
  object-fit: cover;
  /* border-radius: 1rem; */
  transition: transform 0.3s ease;
  transform: scale(1.01);
  /* margin: 5px 10px 5px 10px; */
}

.gallery-item:hover img {
  transform: scale(1.1); /* Scale effect on hover */
}

h2 {
  font-size: 1rem; /* Adjusted font size for better readability */
}

.filter-container button {
  margin-right: 1rem; /* Reduced margin for better spacing */
  margin-bottom: 1rem; /* Reduced margin for better spacing */
  min-width: 5rem;
  padding: 0.5rem 1rem;

  font-weight: bold;
  cursor: pointer;
}

button.active {
  background: linear-gradient(to left, var(--cyandark2) -30%, var(--cyangreen) 140%);
  transition: background 0.3s ease-in-out;
  border-radius: 2rem;
}

.memberCard {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.memberCard:hover .memberInfo {
  height: 100%;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to top, var(--cyan) -40%, var(--cyandark3) 100%);
  border-radius: 0.375rem;
  opacity: 0.98;
}

.memberCard:hover .memberDesc {
  display: block;
}

.memberCard img {
  z-index: 2;
}

.memberInfo {
  background-color: rgba(0, 0, 0, 0.26);
  box-shadow: 0 0 15px 5px rgba(0, 39, 38, 0.2);
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 3;
  height: 96px;
  transition: all 0.5s ease-in-out;
}

.memberName {
  font-size: 1.5rem;
}

.memberTitle {
  font-size: 1.2rem;
}

.memberGradient {
  background: radial-gradient(circle, var(--cyandark) -10%, var(--cyandark2) 100%);
  z-index: 1;
}

.memberDesc {
  display: none;
}