@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-bgdark text-txtdark;
  }

  .hireBtn {
    @apply ml-auto mr-0;
  }

  /* Global styles */
  .navbar {
    @apply flex fixed top-0 left-0 w-full shadow z-50;
    transition: 0.3s;
  }

  .navbar .container {
    @apply flex justify-between items-center px-4 py-2;
  }

  .navHolder {
    @apply flex items-center;
  }

  .nav-list {
    @apply mr-14
  }

  .nav-link {
    @apply px-2 py-2;
  }

  .hamburger {
    @apply hidden cursor-pointer;
  }

  .hamburger .bar {
    @apply block h-1 w-6 my-1 bg-txtdark;
  }

  .navbar.open .nav-list {
    @apply flex;
  }

  .skills-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .sk-progress {
    @apply w-[150px] h-[150px] relative scale-[1] xl:scale-[1.2];
  }

  .achivements {
    @apply w-full;
  }

  @media (max-width: 396px) { 
    .hireBtn {
      padding: 8px 0 !important;
      font-size: 0.9rem !important;
    }
    .brand-logo span {
      font-size: 1rem;
    }
    .contact-form {
      padding: 24px 24px !important;
    }

    .skills-wrap {
      gap: 1rem;
    }
    
  }

  @media (max-width: 424px) {
    .skills-wrap {
      gap: 1rem;
    }
  }


  /* @media (max-width: 576px) {
  } */
  


  @media (max-width: 768px) { 
    .achivement {
      @apply box-border w-1/2;
    }
    
  }


  

  @media (max-width: 992px) {
    .nav-list {
      @apply flex-col fixed top-[4.5rem] left-0 w-full h-[140vh] bg-bglight z-50 hidden;
    }
  
    .nav-list.open {
      @apply flex;
    }
  
    .nav-link {
      @apply justify-center items-center h-16 pr-10;
      text-align: right !important;
    }

    .hireBtn {
      @apply mr-4
    }
  
    .nav-link a {
      @apply text-txtdark mr-10 py-4;
    }
  
    .hamburger {
      @apply py-2 px-2 h-8 w-8 box-content cursor-pointer relative;
    }
  
    .hamburger .bar {
      @apply w-full h-1 rounded bg-cyanblue;
    }
  
    .hamburger .bar:nth-child(1) {
      @apply top-2 transition-all duration-200;
    }
  
    .hamburger .bar:nth-child(2) {
      @apply top-4 transition-all duration-200;
    }
  
    .hamburger .bar:nth-child(3) {
      @apply top-6 transition-all duration-200;
    }
  
    .navbar.open .hamburger .bar:nth-child(1) {
      @apply top-[50%] translate-y-[200%] rotate-[-45deg] transition duration-200;
    }
  
    .navbar.open .hamburger .bar:nth-child(2) {
      @apply hidden transition duration-200;
    }
  
    .navbar.open .hamburger .bar:nth-child(3) {
      @apply top-[50%] translate-y-[0%] rotate-[45deg] transition duration-200;
    }
  
    .navbar .container {
      @apply relative;
    }
  
    .navbar.open .nav-list {
      @apply block;
    }
  
    .nav-link::after {
      @apply content-[""] absolute w-full h-2 rounded bottom-2 left-0;
    }
  
    .nav-link {
      @apply my-6 text-txtdark font-medium w-full text-center;
    }

    .hamburger {
      @apply block;
    }

    .achivements {
      @apply flex-wrap;
    }

    .achivement {
      @apply box-border w-1/2;
    }

    .contact div {
      @apply flex-col;
    }

    .contactInfoHolder {
      flex-direction: row !important; 
      justify-content: left;
    }
  }

  @media (max-width: 1024px) {
    .nav-list {
      font-size: 0.9rem !important;
      @apply mx-0 px-0;
    }

    .nav-link {
      @apply px-0 mx-0;
    }

    .skills-wrap {
      gap: 1rem;
    }
  }

}
